.woof_container{
    padding-bottom: 15px;
}

.woof_container select{
    width: 100%;
}

.woof_container h3{
    margin-bottom: 15px !important;
}

.woof_list li{
    list-style: none !important;
    padding: 0 0 12px 0 !important;
    margin: 0 !important;
}

.woof_list label{
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
}

.woof_childs_list{
    margin: 5px 0 0 15px !important;
}

/**********************/
.woof_auto_show{
    overflow: hidden;
}
.woof_auto_show .woof_container{
    float: left;
    width: 24.5%;
}


.woof_auto_show .woof_container_inner{
    padding-left: 5px;
}